
googleClientId=asdf
googleClientSecret=asdf
twitterConsumerKey=asdf
twitterConsumerSecret=asdf
facebookAppId=asfd
facebookAppSecret=asdf
githubClientId=asdf
githubClientSecret=asdf
amazonClientId=asdf
amazonClientSecret=asdf
NODE_TLS_REJECT_UNAUTHORIZED=0
